<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SFH Skills </title>
    <h1> Welcome to SFH Skills Connect  </h1>
</head>
<body>
    <h2>How to get Help</h2>
    <p><a href="https://www.homelessassistance.us/ci/ne-omaha" target="_blank"> Find Homeless Assistance</a></p>
    <h2>Homeless Shelters</h2>
    <p><a href="https://www.shelterlistings.org/city/omaha-ne.html" target="_blank">Shelters in Omaha</a></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ivBZIbsbv-c?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>